[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
streamlit = "*"
langchain = "*"
langchain-huggingface = "*"
langchain-community = "*"
faiss-cpu = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
