streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
transformers
sentence-transformers
faiss-cpu
pypdf
torch==2.2.0+cpu --index-url https://download.pytorch.org/whl/cpu
